#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .container {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  width: 25%;
  text-align: center;
  background-color: lightgray;
  margin: 1%;
  padding: 1%;
}

.img{
  width: 70%;
  height: 55%;
}

.overview{
  justify-content: center;
}
.navbar{
  color: red;
  margin: 0%;
  display: flexbox;
  font: 'Franklin Gothic Medium';
}

.container{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  overflow: hidden;
  gap: 3%;
  margin: 2px;
  background-color: white;
}